<html>
  <head>
    <title>Joke</title>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Joke</h1>
      <nav>
        <ul>
          <li><a>Pages</a></li>
          <li><a>Posts</a></li>
          <li><a>Configuration</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
