<html>
  <head>
    <title>Joke</title>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <h1>Joke</h1>
      <nav>
        <ul>
          <li><a href="/pages">Pages</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/config">Configuration</a></li>
        </ul>
      </nav>
    </header>
    <section class="main">
      <%= yield %>
    </section>
  </body>
</html>
